
###> symfony/framework-bundle ###
/.env
/app/.env
/app/.env.test
/app/.env.dev
/app/.env.local
/app/.env.production
/app/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/app/var/*
!/var/data/
/app/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
.docker/.DS_Store
.DS_Store

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/node_modules
fixtures_loaded
.vscode/settings.json
material/
/docker/
certs/
snippets/fastcgi-php.conf
